node_modules/
target/
_out/
gen/

# CDS privé & credentials
.cdsrc-private.json
default-*.json
*.sqlite
*.db

# Variables d'environnement
.env
.env.*
!.env.example

# MTA
mta_archives/
*_mta_build_tmp
*.mtar

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/tasks.json
.idea/

# @cap-js/cds-typer
@cds-models
